body{
    background-image: url('https://gashapon.com.my/images/background/BG_red.png');
    background-position: center;
}
button{
    border-radius:10px;
    color:chocolate;
    border-color: saddlebrown;
    border-width: 2px;
}
.container{
    background-color: black;
}