/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: white ;
   
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}
nav{
    display: flex;
    opacity: .75;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
    opacity: 1;
}

nav ul li  {
    text-decoration: none;
    color: #333;
    font-size: 18px;
}

/* Estilos específicos */
header {
   /* background-image: url('resources/headerimg.jpg');*/
    background-size: cover;
    
    color: rgba(1, 1, 1, 0.778);
}

h1 {
    font-size: 36px;
    color: black;
    padding: 10px;
    border-radius: 10px;
}
h2{
    text-align: center;
    color: black;
}
h3{
    text-align: center;
    color: black;
    padding: 10px;
}
h4{
    text-align: center;
    color: black;
}
a {
    color:black;
    border-radius: 35px;
    padding: 3px;
}
p{
    color: black;
}
 .container{
    
    border-radius: 15px;
    box-shadow: 60px 30 px 30px;
    text-align: center;
    overflow: hidden;
 }
 .gitContainer
 {
    background-color: #4A4A4A;
    border-radius: 10px;
    text-align: center;
    overflow: hidden;

 }
 .gitContainer h2{
    color: white;
 }
 .gitContainer button
 {
        color: #333;
        width: 320px;
        height: 40px;
        border-radius: 25px;
 }
 .perfil-img {
    width: 256px; /* ajusta el tamaño según tus necesidades */
    height: 256px; /* ajusta el tamaño según tus necesidades */
    border-radius: 50%; /* crea el borde circular */
    border: 2px solid #fff; /* añade un borde opcional */
}
.btnContacto{
   outline: #333;
    border-color: #333;
    height: 64px;
    width: 64px;
}
.vid{
    position: fixed;
        top: 0;
        left: 0;
        min-width: 100%;
        min-height: 100%;
        z-index: -1;
}
.carousel {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 10px;
    max-width: 100%;
  }
  
  .slide {
    overflow: hidden;
    border-radius: 8px;
  }
  
  .slide img {
    width: 100%;
    height: 100%;
    
  }
  .slide video {
    width: 100%;
    height: 100%;
    overflow: hidden;
    
  }
  .container2 {
    max-width: 1000px; /* Puedes ajustar esto según tus necesidades */
    margin: 0 auto; /* Para centrar el contenedor */
}

.videos-container {
    display: flex; /* Para que los videos se alineen en una fila */
    justify-content: space-between; /* Para distribuir los videos horizontalmente */
}

video {
    max-width: 10%; /* Para asegurarse de que los videos no superen su contenedor */
}
.vidSrcMobile{
    src: 'resources/bgVidMobile.mp4';

}   
.vidSrc{
    src: 'resources/bgVid.mp4';
}
.hiden{
 opacity: 0;
 filter: blur(5px);
 transform: translateX(-100%);
 transition: all 1s;
}
.show{
opacity: 1;
filter: blur(0);
transform: translateX(0);
}

/* Estilos para las demás secciones y pie de página */
/* Se pueden añadir según sea necesario */
